<% provide(:title, 'Rejestracja')%>
<h2>Rejestracja</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-md-4", control_col: "col-md-8") do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.text_field :name %>

        <%= f.text_field :email %>

        <%= f.text_field :ulica %>

        <%= f.text_field :numer_domu %>

        <%= f.text_field :numer_mieszkania %>

        <%= f.text_field :kod_pocztowy %>

        <%= f.text_field :miasto %>

        <%= f.text_field :telefon %>

        <%= f.password_field :password %>

        <%= f.password_field :password_confirmation %>

        <%= f.submit "Utwórz konto", class: "btn btn-large btn-primary col-md-8 col-md-offset-4" %>
    <% end %>
  </div>
</div>

